*{
    margin: 0;
    padding: 0;
    font-family:"arial";
    color: black;
    text-shadow: 0px 0px 15px rgb(159, 120, 126);
}
#titulo{
    position: relative;
    font-style: italic;
    margin-top: 50px;
    font-size: 2em;
    color: red;
}
#botones{
    position: absolute;
    right: 3%;
    bottom: -10%;
}
.boton_on{
    background-color: black;
}
.boton_off{
    background-color: red;
}
button>a{
    color: white;
    text-decoration: none;
}
button:active{/*Etqueta de efecto de trasición para los botones*/
    transition: 0.8s;
    box-shadow: 0px 5px 5px 0px white;
}
button{
    width: 70px;
    height: 30px;
    box-shadow: 0px 5px 5px 0px;
}
#subtitulo{
    text-align: center;
}
#logo{
    content: url(../image/logo-unab-H.png);
    float: right;
    width: 10%;
    margin:30px 50px 0px 10px;
    padding-bottom: 100%;
    
}
#fotoMia{
    content: url(../image/20241027_110702.jpg);
    float: left;
    width: 10%;
    margin:30px 50px 0px 10px;
    padding-bottom: 100%;
}
#logo_2{
    display: none;
    content: url(../image/logo-unab-V.png);
    float: right;
    width: 10%;
    margin:30px 50px 0px 10px;
    padding-bottom: 100%;
}
#contenido{
    margin: 30px 20px 0px 20px;
    padding: 5px;
}
p, pre{
    padding: 20px;
}
ol,ul,li{
    margin-left: 13%;
}
li{
    padding:10px;
}
.cuadrado{
    list-style: square;
}
#p1{
    text-decoration: underline;
}
#grid_container{
    display: grid;
    grid-template-columns: auto auto;
    width: 65%;
}
#grid_item_01{
    text-align: center;
    padding: 10px 0px 10px 0px;
    grid-column: 1/ span 2;
}
.grid_tot{
    text-align: left;
    grid-column: 1/ span 2;
    padding: 1vh;
}
#grid_item_02,#grid_item_03{
    justify-content: right;
    text-align: left;
    padding: 1vh;
}
#grid_item_11{
    text-align: justify;
}
.hover-bold {
    font-weight: normal;
    transition: font-weight 0.3s;
}

.hover-bold:hover {
    font-weight: bold;
}

@media only screen and (max-width:600px)
{
    #titulo{
        font-size:10px;
        margin-top:20px;
        position:unset;
        padding-right: 10px;
        grid-column: 1/ span 2;
        text-align: center;
    }
    .fondo{
        background-image: none;
        height: unset;
        display: unset;
    }
    #botones{
        display: flex;
        position: unset;
    }
    button{
        width: min-content;
        height: 20px;
        margin-right: 2px;
        margin-bottom: 2px;
    }
    button>a
    {
        font-size: 8px;
        text-align: center;
    }
    #logo{
        display: none;
        padding-bottom: unset;
        margin: unset;
    }
    #logo_2{
        display: inline;
        position: absolute;
        top: 5px;
        right: 5%;
        width: 8%;
        margin: unset;
        padding: unset;
    }
    #grid_container{
        display: unset;
    }
    #grid_item_13{
        padding-bottom: 50px;
    }
}
@media only screen and (min-width:600px) and (max-width:768px)
{
    #titulo{
        font-size:10px;
        margin-top:20px;
        position:unset;
        padding-right: 10px;
        grid-column: 1/ span 2;
        text-align: center;
    }
    .fondo{
        background-image: none;
        height: unset;
        display: unset;
    }
    #botones{
        display: flex;
        position: unset;
    }
    button{
        width: 50px;
        height: 20px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    button>a
    {
        font-size: 8px;
        text-align: center;
    }
    #grid_item_13{
        padding-bottom: 50px;
    }
}